*.o
*.lo
#*.Plo
*.la
*.log
*.dylib
*.a
*.lai
*.Po
*.cache

InstallInfo.py
CMakeLists.txt
output*
Makefile*
Makefile.*
configure*
config*
compile
aclocal*
autom4te*
autogen*


libltdl/
Config/


#.libs
#.deps
#.dirstamp

missing
libtool
INSTALL
ltmain.sh
py-compile
stamp-h1
install-sh
depcomp
configure.ac
configure_macos.ac
configure_macos
instshell.sh
instshell*
Python/MpiPython/esysparticle
Tools/ExtractFractures/fracextract
Tools/ExtractGrains/grainextract
Tools/ExtractStrain/strainextract
Tools/ForceChains/fcconv
Tools/StressCalculator/raw2tostress
Tools/dump2geo/dump2geo
Tools/dump2pov/dump2pov
Tools/dump2vtk/dump2vtk
Tools/mesh2pov/mesh2pov
Tools/rotextract/rotextract

#fracextract
#grainextract
#strainextract
#fcconv
#raw2tostress
#mesh2pov
#dump2geo
#dump2pov
#dump2vtk
#dump2pov
#rotextract
#esysparticle


